<%- include('./partials/head.ejs') %>

<div class="not-found-outer">
    <div class="not-found-inner">
        <h1>404 noting here...</h1>
        <a href="/">Go Back</a>
    </div>
</div>

<%- include('./partials/tail.ejs') %>
