<%- include('./partials/head.ejs') %> 
<%- include('./partials/nav.ejs') %>

<section class="section">
    <div class="card-small about">
        <h1 class="section-title">About</h1>
        <p>
            This blog is a demo project created by Dave Croteau. Feel free to highlight and celebrate jazz as a contemporary art form with this blog. The technology behind this site includes the following:
        </p>

        <br>

        <div class="double-list">
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Node.js</li>
            </ul>
            <ul>
                <li>Express</li>
                <li>MongoDB</li>
                <li>Mongoose</li>
                <li>JSON Web Tokens</li>
            </ul>
        </div>

        <br>

        <p>
            Want to know more about the developer ? Please visit 
            <span class="color-link"><a href="https://davecroteauportfolio.netlify.app/">Dave Croteau website</a></span>
        </p>
        
    </div>
</section>

<%- include('./partials/tail.ejs') %>
